
<h2>index view in it</h2>

<h3> they make a table in it</h3>

<table>
    <tr>
        <th>
            id
        </th>
        <th>name</th>
        <th>mobile no</th>
    </tr>
    <tr>
        <th>1</th>
        <th>rahul</th>
        <th>758392048</th>

    </tr>
    <tr>
        <th>2</th>
        <th>ram</th>
        <th>7963492693</th>
    </tr>
</table>